.list {
    border: 1px solid rgb(243, 134, 134);
}
 
.items .ui-selected {
    background: red;
    color: white;
    font-weight: bold;
}
 
.items {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    width: 100px;
    height: 300px;
    float: left;
}
 
.items li {
    margin: 2px;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
}
 
 
.highlight {
    border: 2px solid red;
    font-weight: bold;
}

#mapid { position: left; height: 580px; width: 580px; }

